@import url(__langs/header__langs.css);
@import url(__lang-link/header__lang-link.css);
@import url(__lang-link/_state/header__lang-link_state_active.css);

.header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 34px;
  box-sizing: border-box;
  width: 100%;
  max-width: 984px;
}
/* Thanks for the info, I knew the header seemed off for some reason */
@media screen and (max-width: 1024px) {
  .header {
    max-width: 1024px;
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 24px;
  }
}

@media screen and (max-width: 450px) {
  .header {
    padding: 0 16px;
  }
}